<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.StudentMapper">
    <resultMap id="studentMap" type="Student">
        <id property="id" column="id"/>
        <result property="studentName" column="student_name"/>
        <result property="studentNum" column="student_num"/>
        <collection property="grade" resultMap="gradeMap" javaType="Grade"/>
    </resultMap>
    <resultMap id="gradeMap" type="Grade">
        <id property="id" column="g_id"/>
        <result property="gradeName" column="grade_name"/>
    </resultMap>
    <insert id="addStudent" parameterType="Student">
      INSERT INTO student VALUES(NULL,#{grade.id},#{studentName},#{gender},#{age},#{studentNum})
    </insert>

    <insert id="addStudentByStudentNum" parameterType="Student">
        INSERT INTO student VALUES(NULL,#{grade.id},#{studentName},#{gender},#{age},#{studentNum})
    </insert>

    <update id="updateStudent" parameterType="Student">
      UPDATE student SET grade_id=#{grade.id} ,student_name=#{studentName}  ,gender=#{gender} ,age=#{age} WHERE id=#{id}
    </update>

    <delete id="deleteStudent">
        DELETE from student where id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="queryAll" resultMap="studentMap">
      SELECT s.`id`,s.`student_name`,s.`gender`,s.`gender`,s.`age`,s.`student_num`,g.`id` g_id,g.`grade_name` FROM grade g,student s WHERE s.grade_id=g.`id` ORDER BY student_num
    </select>
    <select id="queryAllStudentById" resultMap="studentMap" parameterType="int">
        SELECT s.*,g.id g_id,g.grade_name
                FROM student s,grade g
                WHERE
                s.grade_id=g.id
                AND
                s.id=#{id}
    </select>
    <select id="queryAllStudentByGradeId" resultMap="studentMap" parameterType="integer">
        SELECT s.*,g.id g_id,g.grade_name
                FROM student s,grade g
                WHERE
                s.grade_id=g.id
                AND
                g.id = #{gradeId}
    </select>


</mapper>